<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="myvisor-element">
  <template>
    <div class="container">
      <div class="row">
        <button type="button" class="btn btn-primary" name="button" onclick="obtenerClientes();">Obtener Clientes</button>
        <table id="t01" class="table table-striped col-lg-12 col-xs-12">
         <tr>
           <th>Nombre</th>
           <th>Company</th>
           <th>Country</th>
           <th>Flag</th>
         </tr>
         <tr>
           <td>Eve</td>
           <td>Jackson</td>
           <td>94</td>
           <td>94</td>
         </tr>
       </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * `myvisor-element`
     * visor personalizado para la tech university
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyvisorElement extends Polymer.Element {
      static get is() { return 'myvisor-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'myvisor-element'
          }
        };
      }
    }

    window.customElements.define(MyvisorElement.is, MyvisorElement);
  </script>
  <script src="/js/customview.js"></script>
</dom-module>
